/* AgroEnlace Theme */

:root {
    --primary: #2E7D32;
    --secondary: #66BB6A;
    --bg: #F9FBE7;
    --text: #263238;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

/* Botones */
.btn-agro {
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
}

.btn-agro:hover {
    background-color: var(--secondary);
}

/* Navbar */
.navbar-agro {
    background-color: var(--primary);
}

.navbar-agro a {
    color: white !important;
    font-weight: bold;
}